.grid {
  margin: 1em auto;
  border-collapse: collapse;
}
.grid td {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
}
